@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    font-family: 'Barlow Condensed', sans-serif;
}
.inicio-space{
    width: 100%;
    overflow: hidden;
    background-image:url(../technology_img/background-technology-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contenido-space-centrado{
    width: 90%;
    margin: 0 auto;
}
.menu-space{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    align-items: center;
}
.menu-links-space{
    display: none;
}
.linea_horizontal{
    display: none;
    width: 25%;
    left: 21%;
    z-index: 100;
    position: absolute;
    border-bottom: 2px solid rgba(142, 142, 142, 0.273);
}
.contenido_absoluto_section_info_mars{
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}

.title_mars{
    display: flex;
    gap: 10px;
    color: #dfdfdf;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 19px;
}
.title_mars span{
    color: #465468;
    font-weight: 600;
    margin-bottom: 30px;
}
.img_technology_banner{
    width: 100%;
    height: 200px;
    margin: 15px auto;
    background-image: url(../technology_img/image-space-capsule-portrait.jpg);
    background-size: cover;
    background-position: center;
}
.description_texts_botons{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
.botons_circles{
    justify-content: center;
    display: flex;
    gap: 15px;
}
.circle_number{
    width: 35px;
    height: 35px;
    position: relative;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
}
.p_circle{
    color: #dbdbdb;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}


.circle_number.selected{
    background-color: rgb(255, 255, 255);
  }
  .circle_number.selected .p_circle{
color: #151e2a;
}

.texts_legends_tech{
    text-transform: uppercase;
    margin: 25px auto 60px;
    color: #b3b6bd;
    text-align: center;
}
.title_tch{
    font-size: 16px;
    font-weight: 200;
}
.subtitle_tch{
    font-size: 30px;
    font-weight: 400;
    color: #eeeeee;
    padding-bottom: 15px;
}
.paragraph_tch{
    text-transform: lowercase;
    font-weight: lighter;
    font-size: 17px;
    padding-bottom: 10px;
}
.img_cohet{
    display: none;
}

@media(min-width:600px){ /*diseño de tableta*/
    .inicio-space{
        background-image:url(../technology_img/background-technology-tablet.jpg);
    }
    .img_technology_banner{
        width: 100%;
        height: 250px;
        margin: 5px auto;
        background-image: url(../technology_img/image-space-capsule-landscape.jpg);
        background-size: cover;
        background-position: 0%;
    }
    .hamburguer_menu{
        display: none;
    }
    .menu-links-space{
        display: flex;
        background-color: rgba(32, 38, 78, 0.416);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        right: 0;
        gap: 25px;
        padding:0 30px;
        height: 80px;
        align-items: center;
    }
    .links{
        color: #fff;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: 100;
        font-size: 14px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .links:hover{
        color: #d2d2d2;
    }
    .links:focus{
        border-bottom: 3px solid #fff;
    }
    .menu-links-space span{
        display: none;
    }
    .texts_legends_tech{
        margin-top: 50px;
    }
    .img_cohet{
        display: none;
    }

}
/*diseño de escritorio*/
@media (min-width:800px){
    .inicio-space{
        background-image:url(../technology_img/background-technology-desktop.jpg);
    }
    .menu-links-space{
        border-radius: 3px;
        background-color: rgba(114, 131, 156, 0.417);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 15px;
        gap: 45px;
        width: 55%;
        height: 60px;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
        justify-content: center;
    }
    .linea_horizontal{
        display: flex;
    }
    .links{
        display: flex;
        gap: 5px;
        color: #fff;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: 100;
        font-size: 15px;
        padding-top: 19px;
        padding-bottom: 19px;
    }
   
    .menu-links-space span{
        display: flex;
        color: #fff;
        font-weight: bold;
    }
    .title_mars{
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    .contenido_conjunto_desktop{
        width: 80%;
        margin: 20px auto 150px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        padding: 30px auto;
    }
    .description_texts_botons{
        display: flex;
        gap: 30px;
    }
    .botons_circles{
        display: flex;
        flex-direction: column;
    }
    .texts_legends_tech{
        text-align: start;
    }
    .img_technology_banner{
        display: none;
    }
    .title_tch{
        font-size: 25px;
        font-weight: 200;
    }
    .subtitle_tch{
        font-size: 45px;
        font-weight: 300;
        padding-bottom: 10px;
    }
    .paragraph_tch{
        font-size: 20px;
    }
    .texts_legends_tech{
        width: 45%;
        margin-left: 0;
    }
    .botons_circles{
        justify-content: center;
        display: flex;
        gap: 25px;
    }
    .circle_number:hover{
        background-color: #dbdbdba7;
        border-color: #dbdbdba7;
        transition: 1s;
    }
    .circle_number:hover > .p_circle{
        color: #151e2a;
    }
    .circle_number{
        width: 45px;
        height: 45px;
    }
    .p_circle{
        font-size: 20px;
    }
    .img_cohet{
        display: flex;
        width: 350px;
        height: 350px;
        object-fit: cover;
        position: absolute;
        right: 0;
    }


}