@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Barlow Condensed', sans-serif;
}
.inicio-space{
    width: 100%;
    overflow: hidden;
    background-image: url(../destination_img/background-destination-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contenido-space-centrado{
    width: 90%;
    margin: 0 auto;
}
.menu-space{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    align-items: center;
}
.menu-links-space{
    display: none;
}
.linea_horizontal{
    display: none;
    width: 25%;
    left: 21%;
    z-index: 100;
    position: absolute;
    border-bottom: 2px solid rgba(142, 142, 142, 0.273);
}

.contenido_absoluto_section_info_mars{
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}

.title_mars{
    display: flex;
    gap: 10px;
    color: #dfdfdf;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 19px;
}
.title_mars span{
    color: #465468;
    font-weight: 600;
}
.contenedor_img_textos_page{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.img_mars_pt{
    margin: 25px 0 20px;
    width: 90%;
}
.mars_image{
    width: 100%;
    animation: rotacion 64s linear infinite;
  
}
.contenido_section_info{
    margin: 0 auto;
    text-align: start;
}
.nav_menu_mars{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.mars_link{
    font-size: 13px;
    font-weight: 200;
    padding: 7px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #dddddd;
}
.mars_link:hover{
    color: #ffffff;
}
.mars_link:focus{
    border-bottom: 2px solid #fff;
    color: #fff;
}
.title_menu_mars{
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    font-weight: 400;
    font-size: 90px;
    color: #fff;
}
.paragraph_mars{
    font-weight: lighter;
    font-size: 16px;
    text-align: center;
    color: #9fa7ba;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(66, 77, 91);
}
.meses_millas_mars{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
    gap: 15px;
}
.title_distance{
    font-size: 17px;
    font-weight: 100;
    color: #8e8e8e;
}
.kilometers_distance{
    color: #dbdbdb;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 27px;
}
/*animacion*/
@keyframes rotacion {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }








/*diseño de tableta*/
@media(min-width:600px){
    .inicio-space{
    background-image: url(../destination_img/background-destination-tablet.jpg);
    }
    .hamburguer_menu{
        display: none;
    }
    .menu-links-space{
        display: flex;
        background-color: rgba(32, 38, 78, 0.416);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        right: 0;
        gap: 25px;
        padding:0 30px;
        height: 80px;
        align-items: center;
    }
    .links{
        color: #fff;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: 100;
        font-size: 14px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .links:hover{
        color: #d2d2d2;
    }
    .links:focus{
        border-bottom: 3px solid #fff;
    }
    .menu-links-space span{
        display: none;
    }
    .title_mars{
        font-size: 23px;
        font-weight: 400;
        margin-top: 1px;
        justify-content: flex-start;
    }
    .mars_link{
        font-size: 14px;
    }
    .title_menu_mars{
        font-size: 90px;
        font-weight: 400;
        letter-spacing:2px;
    }
    .meses_millas_mars{
        gap: 15px;
    }
    .paragraph_mars{
    font-size: 17px;
    }
    .title_distance{
        font-size: 17px;
    }
    .kilometers_distance{
        font-size: 27px;
    }
    .contenedor_img_textos_page{
        width: 95%;
    }
    .img_mars_pt{
        margin: 30px auto;
        width: 70%;
    }
}

@media (min-width:800px) {
    .inicio-space{
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-image: url(../destination_img/background-destination-desktop.jpg);
        background-size: cover;
        background-position: center;
    }
  
    .contenido-space-centrado{
        width: 95%;
        margin: 0 auto;
    }
    /*menu*/
    .menu-links-space{
        border-radius: 3px;
        background-color: rgba(56, 75, 102, 0.417);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 15px;
        gap: 45px;
        width: 55%;
        height: 60px;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
        justify-content: center;
    }
    .linea_horizontal{
        display: flex;
    }
    .links{
        display: flex;
        gap: 5px;
        color: #fff;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: 100;
        font-size: 15px;
        padding-top: 19px;
        padding-bottom: 19px;
    }
   
    .menu-links-space span{
        display: flex;
        color: #fff;
        font-weight: bold;
    }
    .contenedor_img_textos_page{
        flex-direction: row;
        padding-bottom: 60px;
        gap: 80px;
        align-items: center;
        justify-content: space-between;
    }
    .contenido_section_info{
        width: 85%;
    }
    .nav_menu_mars{
        justify-content: flex-start;
    }
    .img_mars_pt{
        margin: 30px 0;
        width: 85%;
    }
    .mars_link{
        font-size: 17px;
        color: #7485a0;
    }
    .title_menu_mars{
        text-align: start;
        font-weight: 300;
        font-size: 100px;
    }
    .paragraph_mars{
        text-align: start;
        font-size: 19px;
    }
    .title_mars{
        margin-top: 50px;
    }
    .paragraph_mars{
        padding-bottom: 40px;
    }
    .meses_millas_mars{
        flex-direction: row;
        gap: 50px;
    }
    .title_distance{
        text-align: start;
    }
  
    .kilometers_distance{
        margin-top: 5px;
        text-align: start;
    }
   
}